@import "~bootstrap/scss/bootstrap";
@import "./views/Home";
@import "./components/MovieCard/MovieCard";

$bg: rgb(25, 25, 25);

* {
  color: white;
}

body {
  background-color: $bg;
}

.content {
  margin: auto;
  margin-top: 2.5rem;
  width: clamp(16rem, 90%, 100rem);
}

.footer {
  text-align: center;
  margin: 2rem;
}
