@import "~bootstrap/scss/bootstrap";
@import "./views/Home";

$bg: rgb(25, 25, 25);

* {
  color: white;
}

body {
  background-color: $bg;
}

.content {
  margin: auto;
  margin-top: 2.5rem;
  width: clamp(16rem, 90%, 100rem);
}