@import "~bootstrap/scss/bootstrap";
@import "./components/Global/styles/Footer";
@import "./components/Global/styles/MovieCard";
@import "./components/Home/styles/SearchBar";
@import "./components/Home/styles/WelcomeMessage";
@import "./components/Global/styles/NavBar";

$bg: rgb(25, 25, 25);
$fg: rgb(255,255,255);

* {
  color: $fg;
}

body {
  background-color: $bg;
}

.content {
  margin: auto;
  margin-top: 2.5rem;
  width: clamp(16rem, 90%, 80rem);
}
