#welcomeMessage {
  margin: auto;
  min-width: 16rem;
  max-width: 32rem;
  text-align: center;
}

#logo {
  text-align: center;
}

#searchBar {
  max-width: 40rem;
  margin: auto;
}

#searchButton {
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}