@use '../utilities/vars';

$height: 4rem;

.movieCard {
  border-radius: 2.5%;
  cursor: pointer;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.7));
  overflow: hidden;

  .movieInfo {
    background-color: vars.$bg2;
    bottom: -$height;
    height: $height;
    padding: 0.25rem;
    padding-left: 0.5rem;
    position: absolute;
    text-align: center;
    transition: 0.3s;
    width: 100%;
  }

  &:hover .movieInfo {
    bottom: 0;
  }

  .movieImg {
    width: 100%;
  }
}
