.moviePage {
  .imgContainer {
    height: 20rem;
    margin-bottom: 1rem;
    overflow: hidden;
    text-align: center;

    img {
      width: 100%;
    }
  }
}

@media (min-width: 576px) {
  .moviePage {
    display: flex;

    .imgContainer {
      height: auto;
      margin-bottom: 0;
      margin-right: 1rem;
      max-width: 24rem;
      min-width: 14rem;
      overflow: visible;
    }
  }
}
