@use '../../styles/utilities/vars';

.nav {
  width: 100%;
  form {
    width: 100%;
  }
}

.centered {
  margin: auto;
  margin-bottom: 2rem;
  max-width: 32rem;
}

@media (min-width: vars.$tablet) {
  .nav {
    max-width: 32rem;
    width: 60%;
  }
}
