.nav {
  width: 100%;
  form {
    width: 100%;
  }
}

.centered {
  margin: auto;
  margin-bottom: 2rem;
  max-width: 32rem;
}

@media (min-width: 576px) {
  .nav {
    max-width: 32rem;
    width: 60%;
  }
}
