@use './vars';

* {
  color: vars.$fg;
}

p {
  color: vars.$fg2;
}

body {
  background-color: vars.$bg;
}

.content {
  margin: auto;
  margin-top: 2.5rem;
  width: clamp(16rem, 90%, 80rem);
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.bg-dark {
  background-color: vars.$bg2 !important;
}
